* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
  font-size: 10px;
}

nav {
  height: 5rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: black;
}

section {
  height: calc(100vh - 50px);
  padding: 5rem 0;
  background-color: rgb(5 92 106);
}

.winMsg {
  color: wheat;
  font-size: 3.8rem;
  text-align: center;
}

.boxCont {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: min(90vw, 360px);
  margin: 2rem auto;
  aspect-ratio: 1 / 1;
  padding: 1rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  border-radius: 1rem;
  color: #540863;
  background-color: rgb(255 254 83);
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.btn {
  height: 5vh;
  text-align: center;
}
.btn button {
  padding: 1rem 1.5rem;
  color: white;
  background-color: black;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn button:hover {
  background-color: rgb(15, 14, 14);
}

/* responsiveness */
@media (max-width: 400px) {
  .boxCont {
    width: 90vw;
    gap: 0.5rem;
  }
  .box {
    font-size: 3rem;
  }
}
