* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
  font-size: 10px;
}

nav {
  height: 5rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: black;
}

section {
  height: calc(100vh - 50px);
  background-color: rgb(5 92 106);
}

.boxCont {
  padding: 2.5rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  justify-content: center;
}

.box {
  height: 120px;
  width: 120px;
  padding: 2.8rem 2.5rem;
  border-radius: 1rem;
  font-size: 5rem;
  text-align: center;
  background-color: rgb(255 254 83);
  cursor: pointer;
}

.btn {
  height: 5vh;
  text-align: center;
}
.btn button {
  padding: 1rem 1.5rem;
  color: white;
  background-color: black;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn button:hover {
  background-color: rgb(15, 14, 14);
}
